/* Add CSS Styling */

.oddNumberedElement {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, DejaVu, sans-serif
}

#secondEl {
    color: blue;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourthEl {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
}