/* Add CSS Styling */
.btn-one,
.btn-two {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', serif sans-serif;
}

.btn-one {
    background-color: black;
    color: white;
}

.btn-two {
    background-color: yellow;
}